
.scrollBar {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 94%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background: #505050;
  margin-left: 3%;
}
ul {
  padding-left: 1px;
  white-space:nowrap;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background: #606060;
 }
ul li {
  display: inline-block;
  border: 1px solid black;
  width: 55.1px;
  padding: 30px;
  list-style-position:inside;
  overflow: hidden;
  text-overflow: ellipsis; 
  cursor: pointer;
  color:lightgreen;
}

ul li:hover {
  background: black;
}

/* .mainImageDiv {
  position: relative;
} */

.images {
  display: inline-block;
  width: 90%;
  margin-left: 6%;
}

.selectedImage {
  transform: scale(1.1);
  transition: all .2s ease-in-out;
}
.albumTitle {
  margin-left: 6%;
  text-shadow: 8px 8px 10px #505050;
}

input {
  box-sizing: border-box;
  margin-left: 6%;
  width: 88%;
  height:21px;
  border: 0.5px dashed lightgrey;
}
input:focus {
  outline: none;
}

.pagination {
  margin-left: 6%;
  padding-bottom: 15px;
}

button {
  color: #000000;
  background:#E0E0E0;
  font-size: 11px;
}